<p-menubar class="p-menubar flex flex-row space-x-4 bg-green-500 z-10 w-full">
    <!-- Menu items -->
    <ul class="flex flex-grow space-x-4">
      <li *ngFor="let item of menuItems" class="p-menuitem relative">
        <a (click)="toggleSubMenu(item); $event.preventDefault()" [href]="item.url" class="p-menuitem-link flex items-center">
          <i class="pi pi-fw" [ngClass]="item.icon"></i>
          <span class="ml-2">{{ item.label }}</span>
        </a>
  
        <!-- Submenú de nivel 2 -->
        <p-menubar *ngIf="item.isOpen" class="p-submenu absolute left-0 top-full bg-white shadow-md z-20">
          <ul class="flex flex-col">
            <li *ngFor="let subItem of item.subMenu" class="p-menuitem">
              <a [href]="subItem.url" class="p-menuitem-link flex items-center">
                <i class="pi pi-fw" [ngClass]="subItem.icon"></i>
                <span class="ml-2">{{ subItem.label }}</span>
              </a>
            </li>
          </ul>
        </p-menubar>
      </li>
  
      <!-- Input de búsqueda (al lado derecho) -->
      <div class="ml-auto flex items-center">
        <span class="p-input-icon-left">
          <input
            type="text"
            pInputText
            placeholder="Search"
            class="p-inputtext p-component p-element"
            [(ngModel)]="searchTerm"
            (input)="onSearchChange()"
          />
          <i class="pi pi-search"></i>
        </span>
      </div>
    </ul>
  
    <!-- Botón de hamburguesa para móviles -->
    <button class="lg:hidden p-2 ml-4 text-white" (click)="toggleMenu()">
      <i class="pi pi-bars"></i> <!-- Icono de hamburguesa -->
    </button>
  </p-menubar>
  
  <!-- Menú desplegable en móviles -->
  <div *ngIf="menuVisible" class="lg:hidden fixed top-0 left-0 w-full bg-green-500 p-4 z-20">
    <ul class="flex flex-col space-y-2">
      <li *ngFor="let item of menuItems" class="p-menuitem">
        <a (click)="toggleSubMenu(item)" [href]="item.url" class="p-menuitem-link flex items-center">
          <i class="pi pi-fw" [ngClass]="item.icon"></i>
          <span class="ml-2">{{ item.label }}</span>
        </a>
      </li>
    </ul>
  </div>
  