<div class="card">
    <h1>
      Hola market
    </h1>
  </div>
  
  
  <div class="card">
    <h5>Severities</h5>
    <div class="flex flex-wrap gap-2">
      <button pButton pRipple type="button" label="Primary"></button>
      <button pButton pRipple type="button" label="Secondary" class="p-button-secondary"></button>
      <button pButton pRipple type="button" label="Success" class="p-button-success"></button>
      <button pButton pRipple type="button" label="Info" class="p-button-info"></button>
      <button pButton pRipple type="button" label="Warning" class="p-button-warning"></button>
      <button pButton pRipple type="button" label="Help" class="p-button-help"></button>
      <button pButton pRipple type="button" label="Danger" class="p-button-danger"></button>
    </div>
  </div>

  <!-- Botón para abrir el modal -->
<button (click)="openModal()">Abrir Modal</button>

<!-- Modal -->
<div *ngIf="showModal" class="modal">
  <div class="modal-content">
    <span (click)="closeModal()" class="close-btn">&times;</span>
    <h2>Contenido del Modal</h2>
    <!-- Aquí el contenido de tu modal -->
  </div>
</div>

<!-- Estilos del Modal -->
<style>
  .modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close-btn:hover,
  .close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
</style>

