<div class="layout-footer bg-green-500 text-white py-6">
    <div class="max-w-screen-xl mx-auto px-6">
      <div class="flex justify-between items-center">
        <!-- Logo -->
        <img src="assets/img/sus.jpg" alt="Logo" class="h-8 mr-2" />
        <!-- Texto -->
        <span class="font-medium ml-2">by KIoskos</span>
      </div>
      <!-- Enlaces de navegación centrados -->
      <div class="flex justify-center space-x-6 w-full mt-4">
        <a href="/about" class="hover:text-gray-400">About Us</a>
        <a href="/services" class="hover:text-gray-400">Services</a>
        <a href="/contact" class="hover:text-gray-400">Contact</a>
      </div>
      <!-- Texto de pie de página -->
      <div class="text-center mt-6">
        <p>&copy; 2024 KIOSKO. All rights reserved.</p>
      </div>
    </div>
  </div>
  